<div class="small-print">Suggest an edit or modification <a href="{{ site.github }}" target="_blank">on GitHub</a>.<br />
	<div>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. <a href="{{ BASE_URL}}/privacy/">Privacy</a>.</div>
	<div class="social-icons">
		<a href="mailto:{{site.owner.email}}" title="Email us!" target="_blank"><img src="images/envelope-square-solid.svg" /></a>
		<a href="https://github.com/fossresponders/foss-responders" title="Improve this site on GitHub" target="_blank"><img src="images/github-square-brands.svg" /></a>
		<a href="{{ site.url }}/feed.xml" title="Subscribe to the Atom/RSS feed"><img src="images/rss-square-solid.svg" /></a>
		<a href="https://slack.opencollective.com/#foss-responders" title="Email us!" target="_blank"><img src="images/slack-brands.svg" /></a>
		<a href="https://fossresponders.discourse.group/" title="Join our Discourse" target="_blank"><img src="images/discourse-brands.svg" /></a>
</div><!-- /.social-icons -->
