<div class="footer-wrapper" id="footer">
	<footer role="contentinfo" class="entry-wrapper">
		{% if page.layout == 'home' %}
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div class="col-md-2">
							<p><a class="slow-scroll footer-link" href="#need-help">Need help?</a></p>
						</div>
						<div class="col-md-2">
							<p><a class="slow-scroll footer-link" href="#offer-help">Offer help!</a></p>
						</div>
						<div class="col-md-2">
							<p><a class="slow-scroll footer-link" href="#our-mission">Our mission</a></p>
						</div>
						<div class="col-md-2">
							<p><a class="slow-scroll footer-link" href="#who-we-are">Who we are</a></p>
						</div>
						<div class="col-md-2">
							<p><a class="slow-scroll footer-link" href="#events">Events</a></p>
						</div>
						<div class="col-md-2">
							<p><a class="slow-scroll footer-link" href="#about">Our programs</a></p>
						</div>
						<div class="col-md-2">
							<p><a class="footer-link" href="/blog">Blog</a></p>
						</div>
						<div class="col-md-2">
							<p><a class="slow-scroll footer-link" href="#contact">Contact</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	 {% else if %}
	 <div class="container">
		 <div class="row justify-content-md-center">
			 <div class="col-md-8">
				 <div class="row justify-content-center">
					 <div class="col-md-3">
						 <a href="{{ site.url }}">Home</a>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
	 {% endif %}
		<div class="small-print">Suggest an edit or modification <a href="{{ site.github }}" target="_blank" rel="noopener noreferrer">on GitHub</a>.<br />
			<div>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. {% if page.pagename != 'privacy' %}<a href="/privacy">Privacy Policy</a>{% endif %}</div>
			<div class="social-icons">
				<a href="mailto:{{site.owner.email}}" title="Email us!" target="_blank" rel="noopener noreferrer"><img src="{{ site.url }}/images/envelope-square-solid.svg" /></a>
				<a href="https://github.com/foss-responders/fossresponders.com" title="Improve this site on GitHub" target="_blank" rel="noopener noreferrer"><img src="{{ site.url }}/images/github-square-brands.svg" /></a>
				<a href="{{ site.url }}/feed.xml" title="Subscribe to the Atom/RSS feed"><img src="{{ site.url }}/images/rss-square-solid.svg" /></a>
				<a href="https://slack.opencollective.com/#foss-responders" title="Join us on Slack" target="_blank" rel="noopener noreferrer"><img src="{{ site.url }}/images/slack-brands.svg" /></a>
				<a href="https://fossresponders.discourse.group/" title="Join our Discourse" target="_blank" rel="noopener noreferrer"><img src="{{ site.url }}/images/discourse-brands.svg" /></a>
				<a href="https://twitter.com/fossresponders" title="Follow us on Twitter" target="_blank" rel="noopener noreferrer"><img src="{{ site.url }}/images/twitter-square-brands.svg" /></a>
			</div><!-- /.social-icons -->
	</footer>
</div><!-- /.footer-wrapper -->

{% if page.layout == 'home' %}
<div class="container bottom-banner" id="back-to-top">
	<div class="row">
		<div class="col" style="background-color:#FF62A0;">
			<p>Back to Top <img src="{{ site.url }}/images/chevron-right-solid.svg" alt="Back to top"></p>
		</div>
	</div>
</div>
{% else if %}
<div class="container bottom-banner">
	<div class="row">
		<div class="col" style="background-color:#FF62A0;">
			<p><a href="{{ site.url }}">Back Home</a></p>
		</div>
	</div>
</div>
{% endif %}

