<nav class="main-navigation " id="navbar">
	<ul class="nav-list">
		<li>
			<a href="#need-help" class="nav-link slow-scroll">Need help?</a>
		</li>
		<li>
			<a href="#offer-help" class="nav-link slow-scroll">Offer help!</a>
		</li>
		<li>
			<a href="#our-mission" class="nav-link slow-scroll">Our mission</a>
		</li>
		<li>
			<a href="#who-we-are" class="nav-link slow-scroll">Who we are</a>
		</li>
		<li>
			<a href="#events" class="nav-link slow-scroll">Events</a>
		</li>
		<li>
			<a href="#about" class="nav-link slow-scroll">Our programs</a>
		</li>
		<li>
			<a href="/blog" class="nav-link slow-scroll">Blog</a>
		</li>
		<li>
			<a href="#contact" class="nav-link slow-scroll">Contact</a>
		</li>
	</ul>
</nav>