<!-- <div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" >
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><! /.navigation-wrapper --
<div class="js-menu-screen menu-screen"></div> -->


<nav class="main-navigation " id="navbar">

	<!-- <div class="navbar-header animated fadeInUp">
		<a class="navbar-brand" href="#">Logo Area</a>
	</div> -->

	<ul class="nav-list">
		<li class="nav-list-item">
			<a href="#need-help" class="nav-link">Need Help</a>
		</li>
		<li class="nav-list-item">
			<a href="#offer-help" class="nav-link">Offer Help</a>
		</li>
		<li class="nav-list-item">
			<a href="#events" class="nav-link">Events</a>
		</li>
		<!-- <li class="nav-list-item">
			<a href="#" class="nav-link">About Us</a>
		</li> -->

		<li class="nav-list-item">
			<a href="#about" class="nav-link">About our program</a>
		</li>

		<li class="nav-list-item">
			<a href="#contact" class="nav-link">Contact</a>
		</li>
	</ul>

</nav>