<div id="banner" class="text-center">
	<p>FOSS Responders are hosting a virtual funding event on Friday, May 22nd!</p>
	<p>
		<a href="#events" role="button" class="btn btn-primary link-button banner-button slow-scroll">
			Find out more about the funding event
			<span></span>
		</a>
	</p>
</div>
<nav class="main-navigation " id="navbar">
	<ul class="nav-list">
		<li>
			<a href="#need-help" class="nav-link slow-scroll">Need Help</a>
		</li>
		<li>
			<a href="#offer-help" class="nav-link slow-scroll">Offer Help</a>
		</li>
		<li>
			<a href="#events" class="nav-link slow-scroll">Events</a>
		</li>
		<li>
			<a href="#about" class="nav-link slow-scroll">About our programs</a>
		</li>
		<li>
			<a href="/blog" class="nav-link slow-scroll">Blog</a>
		</li>
		<li>
			<a href="#contact" class="nav-link slow-scroll">Contact</a>
		</li>
	</ul>
</nav>