.about-page {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.75) 70%),url(/images/about/aboutpage-top-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: -195px;
}
.about-header {
  .about-title {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.about-wrapper {
  .member-description {
    text-align: left;
    max-width: 50%;

    p.attribute {
      font-size: 20px;
      line-height: 24px;
    }

    .member-position {
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  .member-container {
    .member {
      max-width: 47%;
    }
    .member-avatar {
      max-width: 50%;
      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-wrapper {
    .featured-member {
      padding-top: 60px;
    }
    .member-container {
      .member {
        max-width: 100%;
      }
    }
    .member-description {
      max-width: 100%;
    }
  }
}