.blog {
  width: 80vw;
  margin: 60px auto 20px auto;
  border-top-width: 0;

  a, a:hover {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
  }

  h2 {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: bold;
  }

  h5 {
    font-size: 1rem;
    font-weight: bold;
  }

  header img {
    max-width: 100%;
    height: 100px;
  }

  .blog-description {
    max-width: 700px;
  }

  .side-section li {
    list-style: none;
    line-height: 1.75rem;
  }
}

.posts {
  flex-grow: 2;
}

.side-section {
  flex-grow: 1;
}

.post-thumbnail {
  display: flex;
  align-items: flex-start;

  .post-thumbnail-img {
    min-width: 180px;
    max-width: 250px;
    height: auto;
    width: 100%;
  }

  .post-thumbnail-info small {
    color: #b2adb1;
  }

  .post-thumbnail-info a {
    text-decoration: none;
    color: $black;
  }

  .post-thumbnail-info a:hover {
    text-decoration: underline;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: bold;
    color: $black;
  }
}

#breadcrumbs {
  padding-left: 15px;
  text-align: left;
  margin-bottom: 2rem;
  color: #2A27F4;
}

.blog-entry {
  text-align: left;

  a, a:hover {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
  }

  article {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .social-icons {
    margin-left: auto;
    a {
      text-decoration: none;
    }
  }

  .entry-title {
    font-weight: normal;
  }

  .entry-meta {
    font: 500 1.2rem/1.5rem $primary-font;

    .author a {
      color: $black;
      text-decoration: none;
      font-weight: bold;
    }
  
    .entry-date {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .entry-content {
    font-family: 'Overpass';
    font-size: 1rem;
    line-height: 1.5rem;

    .entry-img {
      width: 100%;
    }
  }
}


@media (max-width: 768px) {
  .blog {
    width: 100%;
  }

  .post-thumbnail {
    display: block;
  }

  .entry article {
    width: 100%;
  }
}
