// Fonts
@import url(https://fonts.googleapis.com/css?family=Chivo:300,700,900|Overpass:300,700,900&display=swap);

// Variables
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Overpass', sans-serif;
$black: #4F434D;

.center {
  text-align: center;
}

body {
  font-family: $primary-font;
  text-align: center;
  color: $black;
}

.special-list {
  ul {
    padding-left: 0px;
  }
  li {
    list-style: none;
    position: relative;
    padding: 10px 0px 10px 20px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 18px;
      width: 10px;
      height: 10px;
      background-color: #58B2E4;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
    &.two::before {
      background-color: #FF62A0;
    }
    &.three::before {
      background-color: #7BC9AC;
    }
    &.four::before {
      background-color: #FFDD57;
    }
    &.five::before {
      background-color: #58B2E4;
    }
  }
}

p {
  letter-spacing: -0.38px;
}

a {
  text-decoration: underline;
  color: #2A27F4;
  &.btn {
    text-decoration: none;
  }
}


.logo {
  margin: 0px auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75)),
url(../../images/bg-lines.png);
  img {
    display: block;
    padding: 100px;
    margin: 0px auto;
    max-width: 100%;
  }
}

.tagline {
  margin: 0px auto 20px;
  font: 700 30px/39px 'Overpass', sans-serif;
  letter-spacing: 0px;
  span {
    text-decoration: solid underline 3px;
  }
  .foss {
    color: #58B2E4;
    text-decoration-color: #58B2E4;
  }
  .responds {
    color: #FF62A0;
    text-decoration-color: #FF62A0;
  }
  .together {
    color: #7BC9AC;
    text-decoration-color: #7BC9AC;
  }
}

.top-content {
  p {
    font: 300 16px/29px $primary-font;
    letter-spacing: -0.38px;
    color: $black;
  }
}

hr {
  border: 3px dashed #7BC9AC;
  opacity: 0.5;
  &.mini {
    max-width: 40%;
  }
}

h1 {
  font: 700 42px/64px 'Overpass';
  letter-spacing: 0px;
  margin: 30px auto 10px;
  color: $black;
  opacity: 1;
}

.photo-box {
  p {
    border-radius: 4px;
    padding: 25px;
    margin: 40px 0px 0px 70px;
    background-color: #ED4789;
    text-align: left;
    font: 300 18px/24px 'Chivo';
    letter-spacing: -0.43px;
    color: #FFFFFF;
    opacity: 1;
  }
  img.avatar {
    height: 200px;
    float: left;
  }
  .link-button {
    margin: 30px 10px 50px 60px;
    width: 90%;
    font: 300 18px/22px 'Chivo';
    letter-spacing: 0.02px;
    color: #FFFFFF;
    padding: 20px 10px 10px 10px;
    border: none;
    float: right;
    img {
      margin-top: -5px;
      margin-right: 5px;
      float: right;
    }
  }
}

.photo-box-right {
  @extend .photo-box;
  p {
    margin: 40px 70px 0px 0px;
  }
  img.avatar {
    float: right;
  }
  .link-button {
    margin: 30px 0px 30px 10px;
    float: left;
  }
}

.emergency {
  p, .link-button {
    background-color: #ED4789;
  }
}


.emergency-event {
  p, .link-button {
    background-color: #58B2E4;
  }
}

.amplify {
  p, .link-button {
    background-color: #FFDD57;
    color: $black;
  }
}

.recruit {
  p, .link-button {
    background-color: #7BC9AC;
    color: $black;
  }
}

.advice {
  p, .link-button {
    background-color: #ED4789;
  }
}

.crowdfunds {
  p {
    background-color: #58B2E4;
  }
  .link-button {
    background-color: #ED4789;
  }
}
.donate-time {
  p {
    background-color: #ED4789;
  }
  .link-button {
    background-color: #2292CE;
  }
}
.mentor {
  p, .link-button {
    background-color: #FFDD57;
    color: $black;
  }
}
.cancellations {
  p, .link-button {
    background-color: #7BC9AC;
    color: $black;
  }
}

.email-us {
  margin: 20px auto;
  font: 300 16px/23px 'Chivo';
  letter-spacing: -0.38px;
}

.oc-image {
  margin: 50px 0px 80px;
  max-width: 100%;
}

// Two buttons
.join-us {
  background-color: #FFDD57;
  color: $black;
  border: none;
  padding: 15px 25px 15px 50px;
  font: 300 18px/22px Chivo;
  letter-spacing: 0.02px;
  img {
    padding-left:10px;
  }
}

.faqs {
  @extend .join-us;
  padding-left: 100px;
  padding-right: 25px;
  img {
    padding-left: 50px;
  }
  margin-bottom: 3vh;
}

@include media-breakpoint-down(sm) {
  .join-us {
    padding: 15px 10px;
    img {
      padding-left: 5px;
    }
  }
  .faqs {
    padding: 15px 10px;
    img {
      padding-left: 10px;
    }
  }
}


.section-photo {
  @extend .text-center;
  img {
    max-width: 100%;
    margin-top: 80px;
  }
}

#who-we-are {
  @extend .special-list;
  .section-photo img {
    padding-top: 50px;
  }
}
.attributions {
  padding-top: 50px;
}

#logos {
  img {
    padding: 20px 0px;
  }
  margin-bottom: 5vh;
}

#events {
  padding-bottom: 5vh;
  .join-us {
    margin-top: 30px;
  }
}

#about {
  @extend .special-list;
}

#contact {
  padding-bottom: 5vh;
}

#footer {
  margin-top: 6vh;
  font: 300 16px/24px Chivo;
  .small-print {
    margin-top: 3vh;
    font: 300 12px/24px Chivo;
    letter-spacing: -0.14px;
  }
  .social-icons {
    margin-top: 15px;
    a {
      padding: 0px 5px;
       img {
         width: 20px;
         filter: invert(11%) sepia(98%) saturate(6046%) hue-rotate(247deg) brightness(94%) contrast(104%);
       }
    }
  }
}

#back-to-top {
  max-width: none;
  margin-top: 20px;
  p {
    margin-top: 10px;
  }
  color: white;
  font: 300 18px/22px 'Chivo';
  letter-spacing: 0.02px;
  img {
    transform: scale(50%) rotate(-90deg);
  }
}


@include media-breakpoint-down(sm) {
  button, .photo-box .link-button {
    text-align: center;
    float: none;
    width: 100%;
    margin: 30px 0px;
  }
}