// Fonts
@import url(https://fonts.googleapis.com/css?family=Chivo:400,700,900|Overpass:400,700,900&display=swap);

// Variables
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Overpass', sans-serif;

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

body {
  font-family: $primary-font;
  text-align: center;
}

.logo {
  margin: 0px auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75)),
url(../../images/bg-lines.png);
  img {
    display: block;
    padding: 100px;
    margin: 0px auto;
    max-width: 100%;
  }
}

.tagline {
  margin: 0px auto 20px;
  font: 700 30px/39px 'Overpass', sans-serif;
  letter-spacing: 0px;
  span {
    text-decoration: solid underline 3px;
  }
  .foss {
    color: #58B2E4;
    text-decoration-color: #58B2E4;
  }
  .responds {
    color: #FF62A0;
    text-decoration-color: #FF62A0;
  }
  .together {
    color: #7BC9AC;
    text-decoration-color: #7BC9AC;
  }
}

.top-content {
  p {
    font: 400 16px/29px $primary-font;
    letter-spacing: -0.38px;
    color: #4F434D;
  }
}

hr {
  border: 3px dashed #7BC9AC;
  opacity: 0.5;
  &.mini {
    max-width: 40%;
  }
}

h1 {
  font: 700 42px/64px 'Overpass';
  letter-spacing: 0px;
  margin: 30px auto 10px;
  color: #4F434D;
  opacity: 1;
}

.photo-box {
  p {
    border-radius: 4px;
    padding: 25px;
    margin: 40px 0px 0px 70px;
    background-color: #ED4789;
    text-align: left;
    font: 400 18px/24px 'Chivo';
    letter-spacing: -0.43px;
    color: #FFFFFF;
    opacity: 1;
  }
  img.avatar {
    height: 200px;
    float: left;
  }
  .link-button {
    margin: 30px 10px 50px 60px;
    width: 90%;
    font: 400 18px/22px 'Chivo';
    letter-spacing: 0.02px;
    color: #FFFFFF;
    padding: 20px 10px 10px 10px;
    border: none;
    float: right;
    img {
      margin-top: -5px;
      margin-right: 5px;
      float: right;
    }
  }
}

.photo-box-right {
  @extend .photo-box;
  p {
    margin: 40px 70px 0px 0px;
  }
  img.avatar {
    float: right;
  }
  .link-button {
    margin: 30px 0px 30px 10px;
    float: left;
  }
}

.emergency {
  p, .link-button {
    background-color: #ED4789;
  }
}


.emergency-event {
  p, .link-button {
    background-color: #58B2E4;
  }
}

.amplify {
  p, .link-button {
    background-color: #FFDD57;
    color: black;
  }
}

.recruit {
  p, .link-button {
    background-color: #7BC9AC;
    color: black;
  }
}

.advice {
  p, .link-button {
    background-color: #ED4789;
  }
}

.crowdfunds {
  p {
    background-color: #58B2E4;
  }
  .link-button {
    background-color: #ED4789;
  }
}
.donate-time {
  p {
    background-color: #ED4789;
  }
  .link-button {
    background-color: #2292CE;
  }
}
.mentor {
  p, .link-button {
    background-color: #FFDD57;
    color: black;
  }
}
.cancellations {
  p, .link-button {
    background-color: #7BC9AC;
    color: black;
  }
}

.email-us {
  margin: 20px auto;
  font: 400 16px/23px 'Chivo';
  letter-spacing: -0.38px;
}

.oc-image {
  margin: 50px 0px 80px;
}

.join-us {
  background-color: #FFDD57;
  color: black;
  border: none;
}

.section-photo img {
  max-width: 100;
  margin-top: 80px;
}

#back-to-top {
  max-width: none;
  margin-top: 20px;
  p {
    margin-top: 10px;
  }
  color: white;
  font: 400 18px/22px 'Chivo';
  letter-spacing: 0.02px;
  img {
    transform: scale(50%) rotate(-90deg);
  }
}