---
layout: default
---
<div class="blog">
  <div class="secondary-page-logo">
    <a href="/blog" title="Blog">
      <img src="/images/logo-icon.jpg" alt="FOSS Responders Logo" >
      <span class="page-title">Blog</span>
    </a>
  </div>

  <div class="container text-left">
    {% if paginator.page == 1 %}
    <section>
      <div class="row">
        <div class="col-md-8">
          <p>
            This is the FOSS Responder Blog. <a href="">Subscribe to our newsletter</a> for regular
            notifications on our blog posts and articles. The future of the FOSS community is 
            unknown. The only way to substain our community is together, and FOSS Responders are
            here to help. Read our blog posts to understand our goals and progress better.
          </p>
        </div>
      </div>
    </section>
    {% endif %}
    <main class="mt-5">
      <h1>{{ page.name }}</h1>
      <div class="row">
        <div class="col-md-12">
          <section class="posts">
            <h2>Latest</h2>
            {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
            {% for post in filtered_posts %}
              {% if forloop.index > 2 %}
                {% break %}
              {% endif %}
              {% if post.author %}
                {% assign author = site.data.authors[post.author] %}{% else %}{% assign author = site.owner %}
              {% endif %}
              <div class="post-thumbnail mt-4 mb-5">
                {% if post.thumb %}
                  <img class="post-thumbnail-img" src="{{ post.thumb }}" />
                {% elsif post.image %}
                  <img class="post-thumbnail-img" src="{{ post.image }}" />
                {% endif %}
                <div class="post-thumbnail-info mx-sm-5">
                  <a href="{{ post.url | relative_url }}">
                    <h3>{{ post.title }}</h3>
                  </a>
                  <small>
                    Posted on <time datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: '%B %d, %Y' }}</time> by {{ author.name }}
                  </small>
                  {% if post.excerpt %}
                    <p class="excerpt">
                      {{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}
                    </p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </section>
        </div>
      </div>
      <hr />
    </main>
  </div>
</div>