---
layout: default
---
<div id="main" class="entry container" role="main">
  <div class="secondary-page-logo">
    <a href="/blog" title="Blog">
      <img src="/images/logo-icon.jpg" alt="FOSS Responders Logo" >
      <span class="page-title">Blog</span>
    </a>
  </div>
  {% include breadcrumbs.html %}
  <article>
    <div class="entry-wrapper">
      <div class="entry-header">
        {% if page.link %}
          <h1 class="entry-title"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </div>
      <div class="entry-meta d-md-flex mb-2">
        {% if page.author %}
          {% assign author = site.authors | where: 'short_name', page.author | first %}{% else %}{% assign author = site.owner %}
        {% endif %}
        <p class="author vcard">
            <a href="{{ author.url }}">{{ author.name }}</a>
        </p>
        <p class="entry-date mx-md-4 date published">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%B %d, %Y" }}
          </time>
        </p>
        <div class="social-icons">
          {% if author.twitter %}
            <a href="https://twitter.com/{{ author.twitter }}" title="Author Twitter Link" target="_blank" rel="noopener noreferrer">
              <img src="{{ site.url }}/images/author_social/twitter.svg" />
            </a>
          {% endif %}
          {% if author.facebook %}
            <a href="https://facebook.com/{{ author.facebook }}" title="Author Facebook Link" target="_blank" rel="noopener noreferrer">
              <img src="{{ site.url }}/images/author_social/fb.svg" />
            </a>
          {% endif %}
          {% if author.linkedin %}
            <a href="{{ author.linkedin }}" title="Author Linkedin Link" target="_blank" rel="noopener noreferrer">
              <img src="{{ site.url }}/images/author_social/linkedin.svg" />
            </a>
          {% endif %}
          {% if author.reddit %}
            <a href="{{ author.reddit }}" title="Author Reddit Link" target="_blank" rel="noopener noreferrer">
              <img src="{{ site.url }}/images/author_social/reddit.svg" />
            </a>
          {% endif %}
          {% if author.email %}
            <a href="mailto:{{ author.email }}" title="Author Email Link" target="_blank" rel="noopener noreferrer">
              <img src="{{ site.url }}/images/author_social/email.svg" />
            </a>
          {% endif %}
        </div>
      </div>
      <div class="entry-content my-5">
        {% if page.image %}
          <img class="entry-img mb-5" src="{{ page.image }}" />
        {% endif %}
        {{ content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <hr style="border-color: #FFDD57;" />
    <div class="entry-attributions mb-5 d-md-flex justify-content-between">
      {% if page.attribution %}
        <a href="{{ page.attribution_url }}">Cross-posted on {{ page.attribution }}</a>
      {% endif %}
      <div class="social-icons share">
        <a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}" title="Share post in twitter" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.url }}/images/author_social/twitter.svg" />
        </a>
        <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share post in facebook" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.url }}/images/author_social/fb.svg" />
        </a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" title="Share post in linkedin" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.url }}/images/author_social/linkedin.svg" />
        </a>
        <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" title="Share post in reddit" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.url }}/images/author_social/reddit.svg" />
        </a>
        <a href="mailto:?subject={{ page.title }}&body=Check%20out%20this%20post%20in:{{ site.url }}{{ page.url }}" title="Send post as email" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.url }}/images/author_social/email.svg" />
        </a>
      </div>
  </article>
  <hr style="border-color: #FF62A0;" />
</div><!-- /#main -->
